﻿@model Accelist.TC.ReCoreWebApp.Models.Login

<div class="row">
    <div class="col-md-12">
        <form method="post" action="Result" class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">
                    Login
                </button>
            </div>
        </form>
        <calculator first-number="10" second-number="2">
        </calculator>
    </div>
</div>

@*@model Accelist.TrainingCenter.Core.Models.Student

<div class="row">
    <div class="col-md-12">
        <form method="post" class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hobby"></label>
                <input asp-for="Hobby" class="form-control" />
                <span asp-validation-for="Hobby"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>*@