﻿@model Accelist.TC.ReCoreWebApp.Models.VideoGameViewModel

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-horizontal">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <img src="@Url.Action("GetImage", new { id=Model.VideoGameId })"/>
            </div>
        </div>
    </div>
</div>