﻿@model Accelist.TC.ReCoreWebApp.Models.VideoGameViewModel

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form asp-action="Submit" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture"/>
                <span asp-validation-for="Picture"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>