﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Accelist.TC.ReCoreWebApp</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css"/>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/js/bundle.js"></script>
    <script src="~/js/jquery-bootstrap.js"></script>
    <script src="~/js/aspnet-validator.js"></script>
</body>
</html>
